@import './Post/Post.css';
@import './Post/TemporaryPost.css';


@import './Posts/Posts.css';


/* PostDetail */
/* everything is in one place */
@import './PostDetail/PostDetail.css';
@import './PostDetail//Comment.css';
@import './PostDetail/PostComments.css';
@import './PostDetail//TemporaryComment.css';


@import '../components/ToastNotification/toast.css';




.thumb-up:hover, .thumb-up:active, .thumb-down:hover, .thumb-down:active {
  cursor: pointer;
  transform: scale(1.15);
    transition: all 200ms ease-in-out;
}

.thumb-up:hover, .thumb-up:active {
  color: green;

}

.thumb-down:hover, .thumb-down:active {
  color: red;
}


.thumb-up.active {
    color: green
}
