header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: aliceblue;
  z-index: 1000;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.logo img {
  height: var(--header-height);
  /* padding: 10px; */
  margin-left: 20px;
  width: 125px;

}



.header-button-container {

}

.login-btn, .signup-btn {
  padding: 7.5px 15px;
  font-size: 16px;
  margin: 0 5px;

}

.login-btn {
  background-color: rgb(122, 186, 241);
}

.login-btn:hover {
 background-color: rgb(35, 147, 245);
}

.signup-btn {
  background-color: var(--signup-button);
  color: white;
}


.signup-btn:hover {
background-color: rgb(241, 27, 27);


}



form {
  display: none;
}


/*


@media only screen and (min-width: 500px) {
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: var(--header-height);
  background-color: aliceblue;
  width: 100%;
  z-index: var(--menu-z-index);

}

.logo {

}

.logo img {
  padding: 0 10px ;
  width: 200px;
  height: auto;
}



.logo img:hover {
  transform: scale(1.02);
}

.logo img:active {
  transform: scale(0.98)
}

form label {
  display: flex;
  justify-content: center;
  align-items: center;
}


#search {
  height: 100%;
  border: none;
  height: 30px;
  border-radius: 15px 0 0 15px;
}

.search-btn {
  padding: 5px 10px;
  border-radius: 0 15px 15px 0;
  background-color: orange;
}

.search-btn:hover {
  background-color: rgb(255, 194, 81);
  cursor: pointer;
}

.navbar-left-button {

}

.navbar-left-button:hover {

}

} */
