header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: aliceblue;
  z-index: 1000;
  height: var(--header-height);
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  justify-content: space-between;
}



.logo img {
  height: 75px;
  /* padding: 10px; */
  margin-left: 20px;
  width: 125px;
  transition: all 200ms ease-in-out;
}

.logo img:hover {
  transform: scale(1.1);
}


.header-button-container {

}

.login-btn, .signup-btn {
  padding: 7.5px 15px;
  font-size: 16px;
  margin: 0 5px;
  display: none;

}

.login-btn {
  background-color: rgb(122, 186, 241);
}

.login-btn:hover {
 background-color: rgb(35, 147, 245);
}

.signup-btn {
  background-color: var(--signup-button);
  color: white;
}


.signup-btn:hover {
background-color: var(--signup-button-hover);


}

form {
  width: 70%;
}


#search {
  height: 100%;
  background-color: var(--comments-color);
  /* border: none; */
  padding: 0 10px;
  height: 30px;
  border-radius: 15px 0 0 15px;
  width: 100px;
}

.search-btn {
  padding: 5px 10px;
  border-radius: 0 15px 15px 0;
  background-color: var(--signup-button);
  color: white;
width: 80px;
}

.search-btn:hover {
  background-color: var(--signup-button-hover);
  cursor: pointer;
}


@media only screen and (min-width: 500px) {
.logo img {
  height: var(--header-height);
}

form {
  width: 375px;
}

#search {
  width: 225px;
}


.login-btn, .signup-btn {
  display: inline;
}
}
