@import './Header.css';
@import './LeftMenu.css';
@import './RightMenu.css';
@import './Footer.css';


.layout {
  min-height: 100vh;
}


main {
  position: absolute;
  top: var(--header-height);
  left: var(--navbar-left-width);
  right: var(--navbar-right-width);
}

