@import './Header.css';
@import './LeftMenu.css';
@import './RightMenu.css';
@import './Footer.css';


.layout {
  min-height: 100vh;
}


main {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  margin-top: calc(var(--header-height) + 50px);

}








@media only screen and (min-width: 500px) {

  main {
    position: absolute;
    top: var(--header-height);
    left: var(--navbar-left-width);
    right: var(--navbar-right-width);
    margin: 0 auto;
    max-width: 800px;
  }


}


@media only screen and (min-width: 1024px) {
  main {
    left: calc((var(--navbar-left-width) + 100px));
    width: 1280px;
  }
}
