



.navbar-left {

  position: fixed;
  width: 100vw;
  background-color: aliceblue;
  padding: 0 0;
  border-radius: 5px;
  top: var(--header-height);
  z-index: var(--menu-z-index);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
}


.navbar-left h3 {
  display: none;
  /* padding: 5px ; */

}
.navbar-left-button {
  padding: 10px 10px;
  width: 100px;
  margin: 5px 0;
  background-color: rgb(122, 186, 241);
  font-size: 14px;
}

.navbar-left-button:hover {
  background-color: rgb(35, 147, 245);
  cursor: pointer;
}


.menu-closed {

}



.navbar-left-button.show {
  display: inline;
}



@media only screen and (min-width: 500px) {




.navbar-left {
  position: fixed;
  width: var(--navbar-left-width);
  background-color: aliceblue;
  padding: 15px 0;
  border-radius: 5px;

  top: var(--header-height);
  z-index: var(--menu-z-index);
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin: 0 10px;
}


.navbar-left h3 {
  /* padding: 5px ; */
  display: inline;
      width: 150px;
  border: 1px solid black;
padding: 10px 0px;
    margin: 5px 20px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 15px;

}
.navbar-left-button {
  padding: 10px 0px;

  margin: 5px 20px;
  background-color: rgb(122, 186, 241);
   font-size: 12px;
}
.navbar-left, .navbar-left-button {
    /* font-size: 16px; */
  width: 150px;
}

.navbar-left-button:hover {
  background-color: rgb(35, 147, 245);
  cursor: pointer;
}


}


/*
@media only screen and (min-width: 500px) {


} */


@media only screen and (min-width: 1024px) {
.navbar-left  {
  width: 250px;
}

.navbar-left, .navbar-left-button, .navbar-left h3 {
  width: 250px;
  font-size: 24px;
}
}
