

.post-card {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 25px 15px;
  /* background-color: gray; */
  box-shadow: 0 0 5px 0 rgb(194, 194, 194);
  border-radius: 10px;
  /* border: 1px solid rgb(158, 158, 158); */
  background-color: var(--comments-color);
}

.post-card h3 {
  font-size: 24px;
  margin: 10px 0;
}

.post-card img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 15px;
  /* box-shadow: 0 0 5px 0 black; */
}


.created-in {
  font-size: 12px;
  font-style: italic;
}

/* .post-details {
  margin: 15px 5px;
} */

.post-details p {
  font-size: 12px;
  margin: 10px 0;

}

.post-author {
  /* text-decoration: underline; */
  font-weight: 800;
  color: black;
  text-decoration: underline;
  line-height: 1.2;
  /* background-color: var(--signup-button-hover); */
  padding: 0 5px;

  border-radius: 12.5px 5px;

}

.like-container, .post-buttons a {
  padding: 7.5px 10px;
 background-color: var(--like-buttons-color);
 border-radius: 10px;
 margin-right: 5px;

}

.like-container {
  display: flex;
  align-items: center;
  /* margin: 0 5px; */
}

.like-container svg {
  font-size: 15px;
}



.like-container p {
  margin: 0 5px;
  font-weight: 700;
}


.post-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.post-buttons a {
  display: flex;
  align-items: center;

}

.post-buttons a svg {
  font-size: 15px;
  margin: 0 5px;

}

.post-buttons a:hover {
   cursor: pointer;
  text-decoration: underline;
   transition: all 300ms ease;
}

.post-comment-container {
  display: flex;
  align-items: center;

  /* background-color: aliceblue; */
}






@media only screen and (min-width: 500px) {
  .post-card {
    width: 60vw;
      max-width: 800px;
  }


  .post-image-container {
    height: 400px;
    width: 100%;

    background-color: black;
    border-radius: 10px;
  }

  .post-card img {

    object-fit:scale-down;
    height: 100%;
    width: 100%;
  }

  .post-buttons a svg, .like-container svg {
    font-size: 25px;

  }

  .like-container, .post-buttons a {
  padding: 7.5px 15px;

 margin-right: 10px;

}

.post-buttons {
  justify-content: start;
}


}


@media only screen and (min-width: 1024px) {
 .post-card {
      max-width: 900px;
      min-width: 700px;
  }


  .post-image-container {
    height: 400px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
  }

}
