

.post-card {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 10px;
  /* background-color: gray; */
  box-shadow: 0 0 5px 0 black;
  border-radius: 10px;
  border: 1px solid black;
}

.post-card h3 {
  font-size: 24px;
  margin: 5px;
}

.post-card img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 15px;
  /* box-shadow: 0 0 5px 0 black; */
}

.post-author {
  /* text-decoration: underline; */
  font-weight: 800;
  color: white;
  background-color: var(--signup-button);
  padding: 2.5px 5px;

  border-radius: 12.5px 5px;

}

.like-container {
  display: flex;

  align-items: center;
  /* margin: 0 5px; */
}

.like-container svg {
  font-size: 25px;
}



.like-container p {
  margin: 0 5px;
  font-weight: 700;
}

.post-details {
  margin: 15px 5px;
}

.post-details p {
  margin: 5px 0;
}


.post-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.post-buttons a {
  display: flex;
  align-items: center;
}

.post-buttons a svg {
  font-size: 30px;
  margin: 0 5px;
}

.post-comment-container {
  display: flex;
  align-items: center;
  /* background-color: aliceblue; */
}





@media only screen and (min-width: 500px) {
  .post-card {

  }


  .post-card img {
    height: 100%;
    width: 100%;
  }

  .post-card {
    border: 1px black solid;
    padding: 25px 0;
    width: calc(100vw - var(--navbar-left-width) - var(--navbar-right-width));
    margin: 50px auto;
  }

  .post-buttons {

  }


}
